@using SPMS.Application.Common.Interfaces
@model SPMS.Common.ViewModels.BaseViewModel

@inject ICurrentUserService usr
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark primary-color">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="/tenant/mstile-150x150.png"  height="30" alt="@Model.SiteTitle" class="rounded" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMainTop" aria-controls="navbarMainTop" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMainTop">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownToggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About the Game
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownToggle">
                        <a class="dropdown-item" asp-area="" asp-controller="Story" asp-action="Sofar">The Story So Far</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Biography" asp-action="Index">Dramatis Personae</a>

                        <feature name="Registry">
                            <a class="dropdown-item" asp-area="" asp-controller="Registry" asp-action="Index">Starship Registry</a>
                        </feature>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Story" asp-action="Index">The Game</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faq">FAQ</a>
                </li>
                @if (!Model.IsPlayer)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Application" asp-action="Index">Join us</a>
                    </li>
                }
            </ul>
        @if (User.Identity.IsAuthenticated)
        {
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item avatar dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarIdentityDropdownToggler" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img gravatar-email="@Model.gravatar" alt="@User.Identity.Name avatar and menu" class="rounded-circle z-depth-0" height="35" />
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary" aria-labelledby="navbarIdentityDropdownToggler">
                        <span class="dropdown-header">Welcome <strong>@usr.GetFirstname() @usr.GetSurname()</strong></span>
                        <span class="dropdown-item-text"><i class="fas fa-user"></i> @User.Identity.Name</span>
                        <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="EditProfile" class="dropdown-item">My Profile</a>
                        <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="ResetPassword" class="dropdown-item">Change Password</a>
                        <a class="dropdown-item" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Logout <i class="fas fa-sign-out-alt"></i></a>
                        @if (Model.IsPlayer || Model.IsAdmin)
                        {
                            <hr class="dropdown-divider" />
                        }
                        @if (Model.IsPlayer)
                        {
                            <a asp-area="player" asp-controller="PlayerDashboard" asp-action="Index" class="dropdown-item"><i class="fas fa-pencil-alt"></i> Player Portal</a>
                        }
                        @if (Model.IsAdmin)
                        {
                            <a asp-area="admin" asp-controller="Dashboard" asp-action="Index" class="dropdown-item"><i class="fas fa-tools"></i> Admin Portal</a>
                        }
                    </div>
                </li>
            </ul>
        }
        else
        {
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in / Sign up <i class="fas fa-sign-in-alt"></i></a>
                </li>
            </ul>
        }
        </div>
    </nav>

