@model SPMS.Web.ViewModels.ViewModel

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Model.SiteTitle</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @RenderSection("Style", false)

    @if (Model.UseAnalytics)
    {
        @Html.Raw(Model.SiteAnalytics)
    }
    else
    {
        <!-- Analytics Omitted -->
    }
    <script src="https://kit.fontawesome.com/6bb2ef40e5.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        @{ await Html.RenderPartialAsync("_Menu", Model); }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData.ContainsKey("message") && !string.IsNullOrEmpty(TempData["message"].ToString()))
            {
                <div class="alert alert-success" role="alert">
                   @TempData["Message"]
                </div>
            }
            @RenderBody()

            <feature name="Beta">
                <h1>Beta Flag Enabled</h1>
            </feature>
        </main>
    </div>
    <mini-profiler position="RenderPosition.BottomLeft" />
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Beyond the Darkness RPG. <a href="http://www.getspms.net" target="_blank">Powered by <i>SPMS.Net</i></a> - <a href="https://github.com/ITHedgeHog/getspms/commit/@Environment.GetEnvironmentVariable("COMMIT_SHA")" target="_top">Deployed from @Environment.GetEnvironmentVariable("COMMIT_SHA")</a>  - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy & Disclaimer</a> <a asp-area="" asp-controller="Rules" asp-action="Index">Rules</a> @if (User.IsInRole("player"))
            {
                <text>[<a asp-area="" asp-controller="Debug" asp-action="Index"> Debug </a>] </text>
            }
        </div>
    </footer>   <div class="disclaimer text-muted">
        <div class="container">
            @Html.Raw(Model.SiteDisclaimer)
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
