@using SPMS.Application.Common.Interfaces
@model SPMS.Common.ViewModels.ViewModel

@inject ICurrentUserService usr
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/img/branding.jpg" width="30" height="30" alt="@Model.SiteTitle" class="rounded" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About the Game
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Story" asp-action="Sofar">The Story So Far</a>
                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Biography" asp-action="Index">Dramatis Personae</a>

                        <feature name="Registry">
                            <a class="dropdown-item text-dark" asp-area="" asp-controller="Registry" asp-action="Index">Starship Registry</a>
                        </feature>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Story" asp-action="Index">The Game</a>
                </li>
                @if (!Model.IsPlayer)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Application" asp-action="Index">Join us</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">

                    </li>
                }
            </ul>
        </div>


        @if (User.Identity.IsAuthenticated)
        {
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fas fa-user"></i>
                        <strong>@User.Identity.Name</strong>
                        @*<i class="fas fa-chevron-circle-down"></i>*@
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="fa fa-user fa-w-14 fa-7x"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left">Welcome <strong>@usr.GetFirstname() @usr.GetSurname()</strong></p>
                                        <p class="text-left small">@User.Identity.Name</p>
                                        <p class="text-left">
                                            <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut" class="btn btn-primary btn-block btn-sm">Logout</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="EditProfile" class="btn btn-primary btn-block">My Profile</a>
                                            <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="ResetPassword" class="btn btn-danger btn-block">Change Password</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        @if (Model.IsPlayer)
                                        {
                                            <a class="nav-link text-dark" asp-area="player" asp-controller="PlayerDashboard" asp-action="Index" class="btn btn-primary btn-block">
                                                <img gravatar-email="@Model.gravatar" alt="@User.Identity.Name avatar and menu" class="d-inline-block align-top navbar-image rounded-circle" />
                                                Dashboard
                                            </a>
                                        }
                                        @if (Model.IsAdmin)
                                        {
                                            <a class="nav-link text-dark" asp-area="admin" asp-controller="Dashboard" asp-action="Index" class="btn btn-primary btn-block">
                                                <i class="fas fa-tools"></i>
                                                Admin
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        }
        else
        {
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn"> Sign in / Sign up</a></li>
            </ul>
        }

        @*<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    @if (User.Identity.IsAuthenticated)
                    {

                        <li class="navbar-text">Hello @User.Identity.Name</li>
                        <!-- The Account controller is not defined in this project. Instead, it is part of Microsoft.Identity.Web.UI nuget package and
                        it defines some well known actions such as SignUp/In, SignOut and EditProfile-->
                        <li class="navbar-btn">
                            <form method="get" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="ResetPassword">
                                <button type="submit" class="btn btn-primary" style="margin-right:5px">Edit Profile</button>
                            </form>
                        </li>
                        <li class="navbar-btn">
                            <form method="get" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="EditProfile">
                                <button type="submit" class="btn btn-primary" style="margin-right:5px">Edit Profile</button>
                            </form>
                        </li>
                        <li class="navbar-item">

                        </li>
                    }
                    else
                    {
                        @*<li class="nav-item">
                            <a id="qsLoginBtn" class="nav-link text-dark" asp-controller="OldAccount" asp-action="Login">Login / Sign-up</a>
                        </li>* @
                        </li>* @

                <li class="nav-item">
                    <form method="get">
                        <button type="submit" class="btn btn-primary">Sign Up/In</button>
                    </form>
                </li>
                }
                </ul>
            </div>*@
    </div>
</nav>

