@model SPMS.Application.Dtos.MyWritingViewModel

@{
    ViewData["Title"] = "Writing Portal " + Model.SiteTitle;
}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Writing Portal</h1>
    </div>

    <div class="row">
        <div class="col-sm-12">
            @if (Model.Characters.Any() && Model.HasEpisode)
            {
                <form asp-controller="Authoring" asp-action="NewPost" method="post">
                    <button type="submit" class="btn btn-primary">Create New Post</button>
                </form>
            }
        </div>
    </div>

    <div class="row">

        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <h1>Draft Posts</h1>
                    <p>Resume your draft posts</p>
                    <ul class="list-group">

                        @foreach (var post in Model.DraftPosts)
                        {
                            var title = post.Title ?? "Untitled post";
                            
                            <li class="list-group-item">
                                <div class="float-right btn-group-vertical">
                                    <a asp-area="player" asp-controller="Authoring" asp-action="Invite" asp-route-id="@post.Id" class="btn btn-outline-primary"><i class="fas fa-user-edit"></i> Authors</a>
                                    <a asp-route-id="@post.Id" class="btn btn-outline-danger"  data-toggle="modal" data-target="#schedule"><i class="fas fa-trash-alt"></i> Delete</a>
                                    <a data-toggle="modal" data-target="#publish" class="btn btn-outline-warning"><i class="fas fa-file-export"></i> Publish</a>
                                    
                                </div>
                                <div class="float-left">
                                    <a asp-action="post" asp-controller="authoring" asp-route-id="@post.Id"><i class="fas fa-file-alt"></i> @title</a><div class="small text-right">Last updated @@ <i>@post.UpdatedAt</i> by <i>@post.LastAuthor</i></div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-6">
                    <h1>Scheduled Posts</h1>
                    <p>These posts are scheduled to go live at a future time.</p>
                    <ul class="list-group">
                        @foreach (var post in Model.PendingPosts)
                        {
                            <li class="list-group-item">
                                <div class="float-right">
                                    <a asp-area="player" asp-controller="Authoring" asp-action="Unpublish" asp-route-id="@post.Id" class="btn btn-outline-secondary"><i class="fas fa-file-import"></i> Unpublish</a>
                                </div>
                                <div class="float-left">
                                    <a asp-action="post" asp-controller="authoring" asp-id="post.Id">@post.Title</a>
                                    <div class="small text-right">scheduled for <i>@post.PublishedAt</i></div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>


@foreach (var post in Model.DraftPosts)
    {
        var publishTitle = "publishTitle" + post.Id;
        var publishFormName = "publish" + post.Id;
        <div class="modal fade" id="publish" tabindex="-1" role="dialog" aria-labelledby="@publishTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="@publishTitle">Publish Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure that you want to publish this post, it will be published <i>immediately</i>.</p>

                    <form asp-controller="Authoring" asp-action="Publish" asp-route-id="@post.Id" name="@publishFormName">
                        <input type="hidden" name="Id" value="@post.Id"/>
                        
                        <div class="float-right">
                            <button type="submit" class="btn btn-primary disabled" disabled="disabled">Publish Post</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    
                </div>
            </div>
        </div>
    </div>

    var scheduleTitle = "scheduleTitle" + post.Id;
    var scheduleFormName = "schedule" + post.Id;
    <div class="modal fade" id="schedule" tabindex="-1" role="dialog" aria-labelledby="@scheduleTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="@scheduleTitle">Schedule Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-controller="Authoring" asp-action="Schedule" asp-route-id="@post.Id" name="@scheduleFormName">
                        <input type="hidden" name="Id" value="@post.Id"/>
                        
                        <div class="float-right">
                            <button type="submit" class="btn btn-primary disabled" disabled="disabled">Schedule Post</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   
                </div>
            </div>
        </div>
    </div>
}s