@inject IConfiguration Configuration
@using System.Collections
@using Microsoft.Extensions.Configuration
@{
    ViewData["Title"] = "Debug Variables";
}

<ul>
    <li><a href="#claims">Claims</a></li>
    <li><a href="#env">Enviornment</a></li>
    <li><a href="#config">Config</a></li>
</ul>

<h1><a name="claims"></a>Claims</h1>

<ul>
    @foreach (var claim in User.Claims)
    {
        <li>@claim.Type - @claim.Value</li>
    }
</ul>

<h1><a name="env">Environment Variables</a></h1>

<ul>

    @{
        var envs = Environment.GetEnvironmentVariables();
        foreach (DictionaryEntry e in envs)
        {
            <li>@e.Key - @e.Value</li>
        }

    }
</ul>

<h1><a name="config">Configuration Variables</a></h1>
<ul>
    @foreach (var cfg in Configuration.AsEnumerable())
    {
        
        <li>@cfg.Key - @cfg.Value</li>
    }
</ul>