@inject IConfiguration Configuration
@using System.Collections
@using Microsoft.Extensions.Configuration
@{
    ViewData["Title"] = "Debug Variables";
}
<h1>Claims</h1>

<ul>
    @foreach (var claim in User.Claims)
    {
        <li>@claim.Type - @claim.Value</li>
    }
</ul>

<h1>Environment Variables</h1>
<ul>

    @{
        var envs = Environment.GetEnvironmentVariables();
        foreach (DictionaryEntry e in envs)
        {
            <li>@e.Key - @e.Value</li>
        }

    }
</ul>

<h1>Configuration Variables</h1>
<ul>
    @foreach (var cfg in Configuration.AsEnumerable())
    {
        
        <li>@cfg.Key - @cfg.Value</li>
    }
</ul>