@model SPMS.Application.Dtos.BiographiesDto
@inject IIdentifierMask Masker;
@{
    ViewData["Title"] = "Dramatis Personae";

}

<div class="container">

    <h1>Dramatis Personae</h1>
    <p>The story lines of Star Trek: Beyond the Darkness are made up of many different characters written by many different people. This area of the site lists those characters so you can see where they exist within our ever expanding story.</p>

    @foreach (var posting in Model.Postings)
    {
        if (Model.Biographies.Any(b => b.PostingId == posting.Id))
        {
            <div class="row flex-row justify-content-around">
                @foreach (var item in Model.Biographies.Where(x => x.PostingId == posting.Id).OrderBy(x => x.Surname))
                {
                    <div class="col-md-3 mb-4">
                        <div class="card">
                            <a asp-action="Details" asp-route-id="@Masker.HideId(item.Id)" title="@item.Firstname @item.Surname">
                                <img alt="@item.Firstname @item.Surname" src="~/img/default-avatar.png" class="card-img-top bg-dark">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(m => item.Firstname) @Html.DisplayFor(m => item.Surname)</h5>
                                <p class="card-text">@Html.DisplayFor(m => item.Posting)</p>
                                <a asp-action="Details" asp-route-id="@Masker.HideId(item.Id)" title="@item.Firstname @item.Surname" class="btn btn-primary">View Biography</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

    }
</div>