@model SPMS.Web.ViewModels.BiographiesViewModel

@{
    ViewData["Title"] = "Dramatis Personae";
}

<h1>Dramatis Personae</h1>
<p>The story lines of Star Trek: Beyond the Darkness are made up of many different characters written by many different people. This area of the site lists those characters so you can see where they exist within our ever expanding story.</p>

@foreach (var posting in Model.Postings)
{
    <h2>@posting.Name</h2>

    @foreach (var item in Model.Biographies.Where(x => x.PostingId == posting.Id))
    {
        <div style="width:121px">
            <div style="border: 1px solid #1e4f18; position: relative; width: 121px; height: 145px; overflow: hidden;">
                <div style="position: absolute; top: 0; left: 0; font-size: 1000pt; width: 121px; height: 145px; overflow: hidden; line-height: 145px; z-index: 3;"> <a asp-action="Details" asp-route-id="@item.Id" title="@item.Firstname @item.Surname">&nbsp;</a></div>
                <div style="position: absolute; top: 0; left: 0; z-index: 2;"> <a asp-action="Details" asp-route-id="@item.Id" title="@item.Firstname @item.Surname"><img alt="@item.Firstname @item.Surname" src="https://placehold.it/121x151" width="121" height="151"></a></div>
            </div>
            <div style="font-size: smaller;text-align: center">
                <b><a asp-action="Details" asp-route-id="@item.Id" title="@item.Firstname @item.Surname">@Html.DisplayFor(m => item.Firstname) @Html.DisplayFor(m => item.Surname)</a></b><br />@Html.DisplayFor(m => item.Assignment)
            </div>
        </div>
    }
}





@if (User.Identity.IsAuthenticated && User.IsInRole("player"))
{
    <br />
    <br />
    <p>
        <a asp-action="Create" class="btn btn-dark">Create New Character</a>
    </p>
}